{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
   <head>
     
   </head>
   <body class="sub_page">
      <div class="hero_area">
         
      </div>
      <!-- inner page section -->
      <section class="inner_page_head">
         <div class="container_fuild">
            <div class="row">
               <div class="col-md-12">
                  <div class="full">
                     <h3>Product Grid</h3>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end inner page section -->
      <!-- product section -->
      <section class="product_section layout_padding">
         <div class="container">
            <div class="heading_container heading_center">
               <h2>
                  MY<span>PRODUCTS</span>
               </h2>
            </div>
            <div class="row">
               
               <div class="col-sm-6 col-md-4 col-lg-6">
                  <div class="box">
                    
                    
                     <div class="img-box">
                        <img src="{{product.product_pic.url}}" alt="" width="200px" height="400px">

                        {{product.product_name}}
                     </div>
                     <div class="detail-box">
                        <h5>
                          Category :{{product.product_category}}
                        </h5>
                        <h6>
                          RS.{{product.product_price}}
                        </h6>
                     </div>
                     <div class="detail-box">
                        <h5>
                          {{product.product_name}}
                        </h5>
                        <h6>
                          {{product.product_desc}}
                        </h6>
                     </div>
                     <div class="detail-box">
                        <h6>
                          Size:{{product.product_size}}
                        </h6>
                     </div>
                     <div class="detail-box">
                        {% if request.session.email %}
                        <h5>
                           {% if wishlist_flag == False %}
                              <a href="{% url 'add-to-wishlist' pk=product.pk %}"><input type="button" value="Add-to-Wishlist" class="btn btn-primary"></a>
                           {% else %}
                               <a href="{% url 'remove-from-wishlist' pk=product.pk %}"><input type="button" value="Remove from Wishlist" class="btn btn-danger"></a>
                           {% endif %}
                        </h5>
                        <h6>
                           {% if cart_flag == False %}
                              <a href="{% url 'add-to-cart' pk=product.pk %}"><input type="button" value="Add-to-Cart" class="btn btn-primary"></a>
                           {% else %}
                              <a href="{% url 'remove-to-cart' pk=product.pk %}"><input type="button" value="Remove to cart" class="btn btn-danger"></a>
                           {% endif %}
                        </h6>
                        {% else %}
                           <a href="{% url 'login' %}"><input type="button" value="Login" class="btn btn-primary"></a>
                        {% endif %}
                     </div>
               </div>
            
         </div>
      </section>
      <!-- end product section -->
     
   </body>
</html>
{% endblock %}